.box-pageheader-1 {
    background: $color-brand-2 url(../imgs/page/about/banner.png) no-repeat top center;
    background-size: cover;
    padding: 150px 0px;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
    h2, p {
        width: 100%;
        max-width: 100%;
    }
}

// Black overlay for page headers (exclude the white "services" header variant)
.box-pageheader-1:not(.box-pageheader-services) {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.55);
        z-index: 1;
        pointer-events: none;
    }
    > * {
        position: relative;
        z-index: 2;
    }
}
.box-pageheader-services {
    background-color: $background-white;
    background-image: none;
    padding-bottom: 55px;
}